.container {
  width: 100%;
  height: calc(100% - 37px); // minus footer
  display: flex;
  flex-direction: row;
  background: var(--surface-bg-below-2, #090f11);
  overflow: hidden;
}

.outlet {
  overflow: auto;
  width: 100%;

  &::-webkit-scrollbar-thumb {
    border: 4px solid #090f11;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
