.main {
  background: var(--surface-bg-below-2, #090f11);
  height: 100%;
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .top-bar-container {
    display: flex;
    justify-content: flex-end;
  }
}

.empty-apps {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  size: 14px;
  padding-bottom: 80px;

  &-icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--component-bg-flexible, rgba(174, 184, 184, 0.15));
    margin: 0px 0px 16px 0px;
  }

  p {
    margin: 8px;
  }
}

.my-apps {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-bottom: 24px;
  color: var(--text-subtle, #c9d2d2);
}

.app-link {
  text-decoration: none;
  overflow: hidden;
  color: inherit;
}

@media (min-width: calc(430px * 2)) {
  .my-apps {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: calc(430px * 3)) {
  .my-apps {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: calc(430px * 4)) {
  .my-apps {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: calc(430px * 5)) {
  .my-apps {
    grid-template-columns: repeat(5, 1fr);
  }
}
