@use "variables";

$map-dark-theme: (
  variables.$editor-syntax-highlight-datatypes: #ff7519,
  variables.$editor-syntax-highlight-functions: #ff7519,
  variables.$editor-syntax-highlight-structures: #afda00,
  variables.$editor-syntax-highlight-constants: #5beff4,
  variables.$editor-syntax-highlight-variables: #5beff4,
  variables.$editor-syntax-highlight-error: #facbcb,
  variables.$editor-syntax-highlight-numeric: #f1d78f,
  variables.$editor-syntax-highlight-string: #00ab75,
  variables.$editor-syntax-highlight-comments: #7f8c8d,
  variables.$editor-syntax-highlight-neutral: #dae3e3,
  variables.$editor-background-selection: #ffcc0066,
  variables.$editor-background: #AEB8B826,
  variables.$editor-lines-foreground: #C9D2D2,
  variables.$editor-lines-background-selected: #AEB8B826,
  variables.$editor-lines-background: #171E21,
  variables.$editor-tab-background: #171E21,
  variables.$editor-tabs-foreground: #dae3e3,
  variables.$console-progress-bar-background: #0ca1a633,
  variables.$console-progress-bar-foreground: #0ca1a6,
  variables.$console-divider: #434f54,
  variables.$console-divider-drag: #f1c40f,
  variables.$console-content-background: #000000,
  variables.$console-content-foreground: #1f272a,
  variables.$console-content-foreground-success: #3fae98,
  variables.$console-content-foreground-error: #df7365,
  variables.$console-bar-background: #1f272a,
  variables.$console-bar-foreground-error: #da5b4a,
  variables.$console-bar-foreground-success: #1da086,
  variables.$console-bar-foreground-on-color: #1f272a,
  variables.$console-bar-foreground: #dae3e3,
  variables.$toolbar-button-primary-background-disabled: #25c2c780,
  variables.$toolbar-button-primary-background: #25c2c7,
  variables.$toolbar-button-primary-label: #1f272a,
  variables.$toolbar-button-primary-background-hover: #7fcbcd,
  variables.$toolbar-button-secondary-label-disabled: #dae3e380,
  variables.$toolbar-button-secondary-background-hover: #374146,
  variables.$toolbar-button-secondary-label: #dae3e3,
  variables.$toolbar-divider: #95a5a6,
  variables.$toolbar-background: #090F11,
  variables.$toolbar-device-selector-label: #dae3e3,
  variables.$toolbar-device-selector-background: #1f272a,
  variables.$toolbar-device-selector-border: #434f54,
  variables.$toolbar-device-selector-background-hover: #374146,
  variables.$toolbar-device-selector-unselected-label: #dae3e3,
  variables.$toolbar-device-selector-unselected-background-hover: #ffffff1a,
  variables.$toolbar-device-selector-unselected-border: #dae3e3,
  variables.$tooltip-background: #4e5b61,
  variables.$tooltip-border: #c9d2d2,
  variables.$tooltip-foreground: #ffffff,
  variables.$tooltip-background-success: #1da086,
  variables.$tooltip-background-error: #da5b4a,
  variables.$input-field-background: #1f272a,
  variables.$input-field-border: #4e5b61,
  variables.$input-field-foreground: #dae3e3,
  variables.$input-field-label-placeholder: #95a5a6,
  variables.$dropdown-background: #374146,
  variables.$dropdown-divider: #434f54,
  variables.$dropdown-item-background-hover: #2c353a,
  variables.$dropdown-item-background-selected: #ffffff1a,
  variables.$dropdown-item-label: #dae3e3,
  variables.$dropdown-item-label2: #95a5a6,
  variables.$sidebar-panel-card-foreground: #dae3e3,
  variables.$sidebar-panel-foreground: #dae3e3,
  variables.$sidebar-panel-background: #1f272a,
  variables.$sidebar-panel-item-label: #dae3e3,
  variables.$sidebar-panel-item-background-hover: #434f54,
  variables.$sidebar-panel-code-container: #101618,
  variables.$sidebar-panel-callout: #101618,
  variables.$sidebar-divider: #434f54,
  variables.$sidebar-tab-label: #dae3e3,
  variables.$sidebar-tab-background-hover: #ffffff1a,
  variables.$sidebar-background: #2c353a,
  variables.$sidebar-item-label: #dae3e3,
  variables.$sidebar-item-background-hover: #434f54,
  variables.$associate-dialog-background: #2c353a,
  variables.$associate-dialog-divider: #4e5b61,
  variables.$associate-dialog-foreground: #f7f9f9,
  variables.$associate-dialog-title: #dae3e3,
  variables.$associate-dialog-links: #25c2c7,
  variables.$associate-dialog-card-background: #2c353a,
  variables.$associate-dialog-card-background-hover: #374146,
  variables.$associate-dialog-card-border: #4e5b61,
  variables.$associate-dialog-card-border-hover: #95a5a6,
  variables.$associate-dialog-card-board-name: #dae3e3,
  variables.$associate-dialog-card-port-icon: #95a5a6,
  variables.$associate-dialog-card-port-name: #dae3e3,
  variables.$associate-dialog-card-picture-background: #1f272a,
  variables.$associate-dialog-card-picture-background-hover: #2c353a,
  variables.$associate-dialog-card-picture-device: #95a5a6,
  variables.$associate-dialog-card-device-type-background: #2c353a,
  variables.$associate-dialog-card-device-type-foreground: #f7f9f9,
  variables.$associate-dialog-card-divider: #4e5b61,
  variables.$associate-dialog-card-icon: #95a5a6,
  variables.$associate-dialog-card-label: #dae3e3,
  variables.$header-background: #2c353a,
  variables.$header-logo: #4e5b61,
  variables.$header-divider: #434f54,
  variables.$header-title-label: #dae3e3,
  variables.$header-drawer-button-label: #25c2c7,
  variables.$header-drawer-button-background-hover: #ffffff1a,
  variables.$filetype-ino: #0ca1a6,
  variables.$filetype-h: #f39c12,
  variables.$filetype-generic: #95a5a6,
  variables.$texts-icons-links: #25c2c7,
  variables.$texts-icons-default: #dae3e3,
  variables.$texts-icons-secondary: #95a5a6,
  variables.$texts-icons-titles: #f7f9f9,
  variables.$toggle-background-unchecked: #374146,
  variables.$toggle-background-checked: #25c2c7,
  variables.$toggle-foreground: #f7f9f9,
  variables.$counter-button-background: #ffffff1a,
  variables.$counter-button-background-hover: #25c2c7,
  variables.$counter-button-foreground-hover: #f7f9f9,
  variables.$counter-button-foreground: #25c2c7,
  variables.$icon-button-destructive-border-active: #df7365,
  variables.$icon-button-destructive-background-hover: #da5b4a,
  variables.$icon-button-destructive-label: #1f272a,
  variables.$icon-button-destructive-background: #df7365,
  variables.$icon-button-tertiary-background-active: #2c353a,
  variables.$icon-button-tertiary-border-active: #7fcbcd,
  variables.$icon-button-tertiary-label-active: #f7f9f9,
  variables.$icon-button-tertiary-background-hover: #374146,
  variables.$icon-button-tertiary-label: #dae3e3,
  variables.$icon-button-secondary-border-active: #7fcbcd,
  variables.$icon-button-secondary-label: #dae3e3,
  variables.$icon-button-secondary-background-hover: #374146,
  variables.$icon-button-secondary-background: #2c353a,
  variables.$icon-button-primary-border-active: #dae3e3,
  variables.$icon-button-primary-background-hover: #7fcbcd,
  variables.$icon-button-primary-label: #1f272a,
  variables.$icon-button-primary-background: #25c2c7,
  variables.$button-destructive-border-active: #df7365,
  variables.$button-destructive-background-hover: #da5b4a,
  variables.$button-destructive-label: #1f272a,
  variables.$button-destructive-background: #df7365,
  variables.$button-tertiary-label-active: #7fcbcd,
  variables.$button-tertiary-border-active: #7fcbcd,
  variables.$button-tertiary-label-hover: #7fcbcd,
  variables.$button-tertiary-label: #25c2c7,
  variables.$button-secondary-outline-active: #7fcbcd,
  variables.$button-secondary-background-hover: #ffffff1a,
  variables.$button-secondary-label: #dae3e3,
  variables.$button-secondary-border: #dae3e3,
  variables.$button-primary-border-active: #dae3e3,
  variables.$button-primary-background-hover: #7fcbcd,
  variables.$button-primary-label: #1f272a,
  variables.$button-primary-background: #25c2c7,
);
