@use "../public/functions.scss";

:export {
  editorSyntaxHighlightDatatypes: functions.theme-var(--editor-syntax-highlight-datatypes);
  editorSyntaxHighlightFunctions: functions.theme-var(--editor-syntax-highlight-functions);
  editorSyntaxHighlightStructures: functions.theme-var(--editor-syntax-highlight-structures);
  editorSyntaxHighlightConstants: functions.theme-var(--editor-syntax-highlight-constants);
  editorSyntaxHighlightVariables: functions.theme-var(--editor-syntax-highlight-variables);
  editorSyntaxHighlightError: functions.theme-var(--editor-syntax-highlight-error);
  editorSyntaxHighlightNumeric: functions.theme-var(--editor-syntax-highlight-numeric);
  editorSyntaxHighlightString: functions.theme-var(--editor-syntax-highlight-string);
  editorSyntaxHighlightComments: functions.theme-var(--editor-syntax-highlight-comments);
  editorSyntaxHighlightNeutral: functions.theme-var(--editor-syntax-highlight-neutral);
  editorBackgroundSelection: functions.theme-var(--editor-background-selection);
  editorBackground: functions.theme-var(--editor-background);
  editorLinesForeground: functions.theme-var(--editor-lines-foreground);
  editorLinesBackgroundSelected: functions.theme-var(--editor-lines-background-selected);
  editorLinesBackground: functions.theme-var(--editor-lines-background);
  editorTabBackground: functions.theme-var(--editor-tab-background);
  editorTabsForeground: functions.theme-var(--editor-tabs-foreground);
  consoleProgressBarBackground: functions.theme-var(--console-progress-bar-background);
  consoleProgressBarForeground: functions.theme-var(--console-progress-bar-foreground);
  consoleDivider: functions.theme-var(--console-divider);
  consoleDividerDrag: functions.theme-var(--console-divider-drag);
  consoleContentBackground: functions.theme-var(--console-content-background);
  consoleContentForeground: functions.theme-var(--console-content-foreground);
  consoleContentForegroundSuccess: functions.theme-var(--console-content-foreground-success);
  consoleContentForegroundError: functions.theme-var(--console-content-foreground-error);
  consoleBarBackground: functions.theme-var(--console-bar-background);
  consoleBarForegroundError: functions.theme-var(--console-bar-foreground-error);
  consoleBarForegroundSuccess: functions.theme-var(--console-bar-foreground-success);
  consoleBarForegroundOnColor: functions.theme-var(--console-bar-foreground-on-color);
  consoleBarForeground: functions.theme-var(--console-bar-foreground);
  tooltipBackground: functions.theme-var(--tooltip-background);
  tooltipBorder: functions.theme-var(--tooltip-border);
  tooltipForeground: functions.theme-var(--tooltip-foreground);
  tooltipBackgroundSuccess: functions.theme-var(--tooltip-background-success);
  tooltipBackgroundError: functions.theme-var(--tooltip-background-error);
  inputFieldBackground: functions.theme-var(--input-field-background);
  inputFieldBorder: functions.theme-var(--input-field-border);
  inputFieldForeground: functions.theme-var(--input-field-foreground);
  inputFieldLabelPlaceholder: functions.theme-var(--input-field-label-placeholder);
  dropdownBackground: functions.theme-var(--dropdown-background);
  dropdownDivider: functions.theme-var(--dropdown-divider);
  dropdownItemBackgroundHover: functions.theme-var(--dropdown-item-background-hover);
  dropdownItemBackgroundSelected: functions.theme-var(--dropdown-item-background-selected);
  dropdownItemLabel: functions.theme-var(--dropdown-item-label);
  dropdownItemLabel2: functions.theme-var(--dropdown-item-label2);
  sidebarPanelCardForeground: functions.theme-var(--sidebar-panel-card-foreground);
  sidebarPanelForeground: functions.theme-var(--sidebar-panel-foreground);
  sidebarPanelBackground: functions.theme-var(--sidebar-panel-background);
  sidebarPanelItemLabel: functions.theme-var(--sidebar-panel-item-label);
  sidebarPanelItemBackgroundHover: functions.theme-var(--sidebar-panel-item-background-hover);
  sidebarPanelCodeContainer: functions.theme-var(--sidebar-panel-code-container);
  sidebarPanelCallout: functions.theme-var(--sidebar-panel-callout);
  sidebarDivider: functions.theme-var(--sidebar-divider);
  sidebarTabLabel: functions.theme-var(--sidebar-tab-label);
  sidebarTabBackgroundHover: functions.theme-var(--sidebar-tab-background-hover);
  sidebarBackground: functions.theme-var(--sidebar-background);
  sidebarItemLabel: functions.theme-var(--sidebar-item-label);
  sidebarItemBackgroundHover: functions.theme-var(--sidebar-item-background-hover);
  associateDialogBackground: functions.theme-var(--associate-dialog-background);
  associateDialogDivider: functions.theme-var(--associate-dialog-divider);
  associateDialogForeground: functions.theme-var(--associate-dialog-foreground);
  associateDialogTitle: functions.theme-var(--associate-dialog-title);
  associateDialogLinks: functions.theme-var(--associate-dialog-links);
  associateDialogCardBackground: functions.theme-var(--associate-dialog-card-background);
  associateDialogCardBackgroundHover: functions.theme-var(--associate-dialog-card-background-hover);
  associateDialogCardBorder: functions.theme-var(--associate-dialog-card-border);
  associateDialogCardBorderHover: functions.theme-var(--associate-dialog-card-border-hover);
  associateDialogCardBoardName: functions.theme-var(--associate-dialog-card-board-name);
  associateDialogCardPortIcon: functions.theme-var(--associate-dialog-card-port-icon);
  associateDialogCardPortName: functions.theme-var(--associate-dialog-card-port-name);
  associateDialogCardPictureBackground: functions.theme-var(--associate-dialog-card-picture-background);
  associateDialogCardPictureBackgroundHover: functions.theme-var(--associate-dialog-card-picture-background-hover);
  associateDialogCardPictureDevice: functions.theme-var(--associate-dialog-card-picture-device);
  associateDialogCardDeviceTypeBackground: functions.theme-var(--associate-dialog-card-device-type-background);
  associateDialogCardDeviceTypeForeground: functions.theme-var(--associate-dialog-card-device-type-foreground);
  associateDialogCardDivider: functions.theme-var(--associate-dialog-card-divider);
  associateDialogCardIcon: functions.theme-var(--associate-dialog-card-icon);
  associateDialogCardLabel: functions.theme-var(--associate-dialog-card-label);
  toolbarDivider: functions.theme-var(--toolbar-divider);
  toolbarBackground: functions.theme-var(--toolbar-background);
  toolbarDeviceSelectorLabel: functions.theme-var(--toolbar-device-selector-label);
  toolbarDeviceSelectorBackground: functions.theme-var(--toolbar-device-selector-background);
  toolbarDeviceSelectorBorder: functions.theme-var(--toolbar-device-selector-border);
  toolbarDeviceSelectorBackgroundHover: functions.theme-var(--toolbar-device-selector-background-hover);
  toolbarDeviceSelectorUnselectedLabel: functions.theme-var(--toolbar-device-selector-unselected-label);
  toolbarDeviceSelectorUnselectedBackgroundHover: functions.theme-var(--toolbar-device-selector-unselected-background-hover);
  toolbarDeviceSelectorUnselectedBorder: functions.theme-var(--toolbar-device-selector-unselected-border);
  toolbarButtonPrimaryBackgroundDisabled: functions.theme-var(--toolbar-button-primary-background-disabled);
  toolbarButtonPrimaryBackground: functions.theme-var(--toolbar-button-primary-background);
  toolbarButtonPrimaryLabel: functions.theme-var(--toolbar-button-primary-label);
  toolbarButtonPrimaryBackgroundHover: functions.theme-var(--toolbar-button-primary-background-hover);
  toolbarButtonSecondaryLabelDisabled: functions.theme-var(--toolbar-button-secondary-label-disabled);
  toolbarButtonSecondaryBackgroundHover: functions.theme-var(--toolbar-button-secondary-background-hover);
  toolbarButtonSecondaryLabel: functions.theme-var(--toolbar-button-secondary-label);
  headerBackground: functions.theme-var(--header-background);
  headerLogo: functions.theme-var(--header-logo);
  headerDivider: functions.theme-var(--header-divider);
  headerTitleLabel: functions.theme-var(--header-title-label);
  headerDrawerButtonLabel: functions.theme-var(--header-drawer-button-label);
  headerDrawerButtonBackgroundHover: functions.theme-var(--header-drawer-button-background-hover);
  filetypeIno: functions.theme-var(--filetype-ino);
  filetypeH: functions.theme-var(--filetype-h);
  filetypeGeneric: functions.theme-var(--filetype-generic);
  toggleBackgroundUnchecked: functions.theme-var(--toggle-background-unchecked);
  toggleBackgroundChecked: functions.theme-var(--toggle-background-checked);
  toggleForeground: functions.theme-var(--toggle-foreground);
  textsIconsLinks: functions.theme-var(--texts-icons-links);
  textsIconsTitles: functions.theme-var(--texts-icons-titles);
  textsIconsDefault: functions.theme-var(--texts-icons-default);
  textsIconsSecondary: functions.theme-var(--texts-icons-secondary);
  counterButtonBackground: functions.theme-var(--counter-button-background);
  counterButtonBackgroundHover: functions.theme-var(--counter-button-background-hover);
  counterButtonForegroundHover: functions.theme-var(--counter-button-foreground-hover);
  counterButtonForeground: functions.theme-var(--counter-button-foreground);
  iconButtonDestructiveBorderActive: functions.theme-var(--icon-button-destructive-border-active);
  iconButtonDestructiveBackgroundHover: functions.theme-var(--icon-button-destructive-background-hover);
  iconButtonDestructiveLabel: functions.theme-var(--icon-button-destructive-label);
  iconButtonDestructiveBackground: functions.theme-var(--icon-button-destructive-background);
  iconButtonTertiaryBackgroundActive: functions.theme-var(--icon-button-tertiary-background-active);
  iconButtonTertiaryBorderActive: functions.theme-var(--icon-button-tertiary-border-active);
  iconButtonTertiaryLabelActive: functions.theme-var(--icon-button-tertiary-label-active);
  iconButtonTertiaryBackgroundHover: functions.theme-var(--icon-button-tertiary-background-hover);
  iconButtonTertiaryLabel: functions.theme-var(--icon-button-tertiary-label);
  iconButtonSecondaryBorderActive: functions.theme-var(--icon-button-secondary-border-active);
  iconButtonSecondaryLabel: functions.theme-var(--icon-button-secondary-label);
  iconButtonSecondaryBackgroundHover: functions.theme-var(--icon-button-secondary-background-hover);
  iconButtonSecondaryBackground: functions.theme-var(--icon-button-secondary-background);
  iconButtonPrimaryBorderActive: functions.theme-var(--icon-button-primary-border-active);
  iconButtonPrimaryBackgroundHover: functions.theme-var(--icon-button-primary-background-hover);
  iconButtonPrimaryLabel: functions.theme-var(--icon-button-primary-label);
  iconButtonPrimaryBackground: functions.theme-var(--icon-button-primary-background);
  buttonDestructiveBorderActive: functions.theme-var(--button-destructive-border-active);
  buttonDestructiveBackgroundHover: functions.theme-var(--button-destructive-background-hover);
  buttonDestructiveLabel: functions.theme-var(--button-destructive-label);
  buttonDestructiveBackground: functions.theme-var(--button-destructive-background);
  buttonTertiaryLabelActive: functions.theme-var(--button-tertiary-label-active);
  buttonTertiaryBorderActive: functions.theme-var(--button-tertiary-border-active);
  buttonTertiaryLabelHover: functions.theme-var(--button-tertiary-label-hover);
  buttonTertiaryLabel: functions.theme-var(--button-tertiary-label);
  buttonSecondaryOutlineActive: functions.theme-var(--button-secondary-outline-active);
  buttonSecondaryBackgroundHover: functions.theme-var(--button-secondary-background-hover);
  buttonSecondaryLabel: functions.theme-var(--button-secondary-label);
  buttonSecondaryBorder: functions.theme-var(--button-secondary-border);
  buttonPrimaryBorderActive: functions.theme-var(--button-primary-border-active);
  buttonPrimaryBackgroundHover: functions.theme-var(--button-primary-background-hover);
  buttonPrimaryLabel: functions.theme-var(--button-primary-label);
  buttonPrimaryBackground: functions.theme-var(--button-primary-background);
}
