@use "variables";

$map-light-theme: (
  variables.$editor-syntax-highlight-datatypes: #d35400,
  variables.$editor-syntax-highlight-functions: #d35400,
  variables.$editor-syntax-highlight-structures: #728e00,
  variables.$editor-syntax-highlight-constants: #00979d,
  variables.$editor-syntax-highlight-variables: #00979d,
  variables.$editor-syntax-highlight-error: #facbcb,
  variables.$editor-syntax-highlight-numeric: #8a7b52,
  variables.$editor-syntax-highlight-string: #005c5f,
  variables.$editor-syntax-highlight-comments: #7f8c8d,
  variables.$editor-syntax-highlight-neutral: #171e21,
  variables.$editor-background-selection: #ffcc0066,
  variables.$editor-background: #ffffff,
  variables.$editor-lines-foreground: #4e5b61,
  variables.$editor-lines-background-selected: #dae3e3,
  variables.$editor-lines-background: #ecf1f1,
  variables.$editor-tab-background: #dae3e3,
  variables.$editor-tabs-foreground: #374146,
  variables.$console-progress-bar-background: #0ca1a633,
  variables.$console-progress-bar-foreground: #0ca1a6,
  variables.$console-divider: #bdc7c7,
  variables.$console-divider-drag: #f1c40f,
  variables.$console-content-background: #000000,
  variables.$console-content-foreground: #dae3e3,
  variables.$console-content-foreground-success: #3fae98,
  variables.$console-content-foreground-error: #df7365,
  variables.$console-bar-background: #ecf1f1,
  variables.$console-bar-foreground-error: #c11f09,
  variables.$console-bar-foreground-success: #1da086,
  variables.$console-bar-foreground-on-color: #dae3e3,
  variables.$console-bar-foreground: #374146,
  variables.$tooltip-background: #4e5b61,
  variables.$tooltip-border: #c9d2d2,
  variables.$tooltip-foreground: #ffffff,
  variables.$tooltip-background-success: #1da086,
  variables.$tooltip-background-error: #da5b4a,
  variables.$input-field-background: #ffffff,
  variables.$input-field-border: #bdc7c7,
  variables.$input-field-foreground: #374146,
  variables.$input-field-label-placeholder: #4e5b61,
  variables.$dropdown-background: #ffffff,
  variables.$dropdown-divider: #bdc7c7,
  variables.$dropdown-item-background-hover: #f7f9f9,
  variables.$dropdown-item-background-selected: #005c5f1a,
  variables.$dropdown-item-label: #171e21,
  variables.$dropdown-item-label2: #4e5b61,
  variables.$sidebar-panel-card-foreground: #374146,
  variables.$sidebar-panel-foreground: #374146,
  variables.$sidebar-panel-background: #f7f9f9,
  variables.$sidebar-panel-item-label: #374146,
  variables.$sidebar-panel-item-background-hover: #ffffff33,
  variables.$sidebar-panel-code-container: #ecf1f1,
  variables.$sidebar-panel-callout: #ffffff,
  variables.$sidebar-divider: #bdc7c7,
  variables.$sidebar-tab-label: #dae3e3,
  variables.$sidebar-tab-background-hover: #ffffff33,
  variables.$sidebar-background: #008184,
  variables.$sidebar-item-label: #dae3e3,
  variables.$sidebar-item-background-hover: #ffffff33,
  variables.$associate-dialog-background: #ffffff,
  variables.$associate-dialog-divider: #dae3e3,
  variables.$associate-dialog-foreground: #171e21,
  variables.$associate-dialog-title: #374146,
  variables.$associate-dialog-links: #008184,
  variables.$associate-dialog-card-background: #ffffff,
  variables.$associate-dialog-card-background-hover: #ffffff,
  variables.$associate-dialog-card-border: #dae3e3,
  variables.$associate-dialog-card-border-hover: #bdc7c7,
  variables.$associate-dialog-card-board-name: #374146,
  variables.$associate-dialog-card-port-icon: #374146,
  variables.$associate-dialog-card-port-name: #4e5b61,
  variables.$associate-dialog-card-picture-background: #f7f9f9,
  variables.$associate-dialog-card-picture-background-hover: #f7f9f9,
  variables.$associate-dialog-card-picture-device: #4e5b61,
  variables.$associate-dialog-card-device-type-background: #f7f9f9,
  variables.$associate-dialog-card-device-type-foreground: #171e21,
  variables.$associate-dialog-card-divider: #dae3e3,
  variables.$associate-dialog-card-icon: #374146,
  variables.$associate-dialog-card-label: #4e5b61,
  variables.$toolbar-divider: #4e5b61,
  variables.$toolbar-background: #ecf1f1,
  variables.$toolbar-device-selector-label: #374146,
  variables.$toolbar-device-selector-background: #f7f9f9,
  variables.$toolbar-device-selector-border: #bdc7c7,
  variables.$toolbar-device-selector-background-hover: #dae3e3,
  variables.$toolbar-device-selector-unselected-label: #008184,
  variables.$toolbar-device-selector-unselected-background-hover: #005c5f1a,
  variables.$toolbar-device-selector-unselected-border: #008184,
  variables.$toolbar-button-primary-background-disabled: #0ca1a680,
  variables.$toolbar-button-primary-background: #008184,
  variables.$toolbar-button-primary-label: #ffffff,
  variables.$toolbar-button-primary-background-hover: #0ca1a6,
  variables.$toolbar-button-secondary-label-disabled: #37414680,
  variables.$toolbar-button-secondary-background-hover: #ffffff,
  variables.$toolbar-button-secondary-label: #374146,
  variables.$header-background: #ffffff,
  variables.$header-logo: #dae3e3,
  variables.$header-divider: #bdc7c7,
  variables.$header-title-label: #374146,
  variables.$header-drawer-button-label: #008184,
  variables.$header-drawer-button-background-hover: #005c5f1a,
  variables.$filetype-ino: #008184,
  variables.$filetype-h: #f26727,
  variables.$filetype-generic: #374146,
  variables.$toggle-background-unchecked: #bdc7c7,
  variables.$toggle-background-checked: #008184,
  variables.$toggle-foreground: #ffffff,
  variables.$texts-icons-links: #008184,
  variables.$texts-icons-titles: #171e21,
  variables.$texts-icons-default: #374146,
  variables.$texts-icons-secondary: #7f8c8d,
  variables.$counter-button-background: #005c5f1a,
  variables.$counter-button-background-hover: #008184,
  variables.$counter-button-foreground-hover: #ffffff,
  variables.$counter-button-foreground: #008184,
  variables.$icon-button-destructive-border-active: #df7365,
  variables.$icon-button-destructive-background-hover: #c11f09,
  variables.$icon-button-destructive-label: #dae3e3,
  variables.$icon-button-destructive-background: #da5b4a,
  variables.$icon-button-tertiary-background-active: #ecf1f1,
  variables.$icon-button-tertiary-border-active: #7fcbcd,
  variables.$icon-button-tertiary-label-active: #171e21,
  variables.$icon-button-tertiary-background-hover: #dae3e3,
  variables.$icon-button-tertiary-label: #374146,
  variables.$icon-button-secondary-border-active: #7fcbcd,
  variables.$icon-button-secondary-label: #374146,
  variables.$icon-button-secondary-background-hover: #dae3e3,
  variables.$icon-button-secondary-background: #ecf1f1,
  variables.$icon-button-primary-border-active: #7fcbcd,
  variables.$icon-button-primary-background-hover: #005c5f,
  variables.$icon-button-primary-label: #ffffff,
  variables.$icon-button-primary-background: #008184,
  variables.$button-destructive-border-active: #df7365,
  variables.$button-destructive-background-hover: #c11f09,
  variables.$button-destructive-label: #dae3e3,
  variables.$button-destructive-background: #da5b4a,
  variables.$button-tertiary-label-active: #008184,
  variables.$button-tertiary-border-active: #7fcbcd,
  variables.$button-tertiary-label-hover: #005c5f,
  variables.$button-tertiary-label: #008184,
  variables.$button-secondary-outline-active: #7fcbcd,
  variables.$button-secondary-background-hover: #005c5f1a,
  variables.$button-secondary-label: #008184,
  variables.$button-secondary-border: #008184,
  variables.$button-primary-border-active: #7fcbcd,
  variables.$button-primary-background-hover: #005c5f,
  variables.$button-primary-label: #ffffff,
  variables.$button-primary-background: #008184,
);
