$editor-syntax-highlight-datatypes: --editor-syntax-highlight-datatypes;
$editor-syntax-highlight-functions: --editor-syntax-highlight-functions;
$editor-syntax-highlight-structures: --editor-syntax-highlight-structures;
$editor-syntax-highlight-constants: --editor-syntax-highlight-constants;
$editor-syntax-highlight-variables: --editor-syntax-highlight-variables;
$editor-syntax-highlight-error: --editor-syntax-highlight-error;
$editor-syntax-highlight-numeric: --editor-syntax-highlight-numeric;
$editor-syntax-highlight-string: --editor-syntax-highlight-string;
$editor-syntax-highlight-comments: --editor-syntax-highlight-comments;
$editor-syntax-highlight-neutral: --editor-syntax-highlight-neutral;
$editor-background-selection: --editor-background-selection;
$editor-background: --editor-background;
$editor-lines-foreground: --editor-lines-foreground;
$editor-lines-background-selected: --editor-lines-background-selected;
$editor-lines-background: --editor-lines-background;
$editor-tab-background: --editor-tab-background;
$editor-tabs-foreground: --editor-tabs-foreground;
$console-progress-bar-background: --console-progress-bar-background;
$console-progress-bar-foreground: --console-progress-bar-foreground;
$console-divider: --console-divider;
$console-divider-drag: --console-divider-drag;
$console-content-background: --console-content-background;
$console-content-foreground: --console-content-foreground;
$console-content-foreground-success: --console-content-foreground-success;
$console-content-foreground-error: --console-content-foreground-error;
$console-bar-background: --console-bar-background;
$console-bar-foreground-error: --console-bar-foreground-error;
$console-bar-foreground-success: --console-bar-foreground-success;
$console-bar-foreground-on-color: --console-bar-foreground-on-color;
$console-bar-foreground: --console-bar-foreground;
$tooltip-background: --tooltip-background;
$tooltip-border: --tooltip-border;
$tooltip-foreground: --tooltip-foreground;
$tooltip-background-success: --tooltip-background-success;
$tooltip-background-error: --tooltip-background-error;
$input-field-background: --input-field-background;
$input-field-border: --input-field-border;
$input-field-foreground: --input-field-foreground;
$input-field-label-placeholder: --input-field-label-placeholder;
$dropdown-background: --dropdown-background;
$dropdown-divider: --dropdown-divider;
$dropdown-item-background-hover: --dropdown-item-background-hover;
$dropdown-item-background-selected: --dropdown-item-background-selected;
$dropdown-item-label: --dropdown-item-label;
$dropdown-item-label2: --dropdown-item-label2;
$sidebar-panel-card-foreground: --sidebar-panel-card-foreground;
$sidebar-panel-foreground: --sidebar-panel-foreground;
$sidebar-panel-background: --sidebar-panel-background;
$sidebar-panel-item-label: --sidebar-panel-item-label;
$sidebar-panel-item-background-hover: --sidebar-panel-item-background-hover;
$sidebar-panel-code-container: --sidebar-panel-code-container;
$sidebar-panel-callout: --sidebar-panel-callout;
$sidebar-divider: --sidebar-divider;
$sidebar-tab-label: --sidebar-tab-label;
$sidebar-tab-background-hover: --sidebar-tab-background-hover;
$sidebar-background: --sidebar-background;
$sidebar-item-label: --sidebar-item-label;
$sidebar-item-background-hover: --sidebar-item-background-hover;
$associate-dialog-background: --associate-dialog-background;
$associate-dialog-divider: --associate-dialog-divider;
$associate-dialog-foreground: --associate-dialog-foreground;
$associate-dialog-title: --associate-dialog-title;
$associate-dialog-links: --associate-dialog-links;
$associate-dialog-card-background: --associate-dialog-card-background;
$associate-dialog-card-background-hover: --associate-dialog-card-background-hover;
$associate-dialog-card-border: --associate-dialog-card-border;
$associate-dialog-card-border-hover: --associate-dialog-card-border-hover;
$associate-dialog-card-board-name: --associate-dialog-card-board-name;
$associate-dialog-card-port-icon: --associate-dialog-card-port-icon;
$associate-dialog-card-port-name: --associate-dialog-card-port-name;
$associate-dialog-card-picture-background: --associate-dialog-card-picture-background;
$associate-dialog-card-picture-background-hover: --associate-dialog-card-picture-background-hover;
$associate-dialog-card-picture-device: --associate-dialog-card-picture-device;
$associate-dialog-card-device-type-background: --associate-dialog-card-device-type-background;
$associate-dialog-card-device-type-foreground: --associate-dialog-card-device-type-foreground;
$associate-dialog-card-divider: --associate-dialog-card-divider;
$associate-dialog-card-icon: --associate-dialog-card-icon;
$associate-dialog-card-label: --associate-dialog-card-label;
$toolbar-divider: --toolbar-divider;
$toolbar-background: --toolbar-background;
$toolbar-device-selector-label: --toolbar-device-selector-label;
$toolbar-device-selector-background: --toolbar-device-selector-background;
$toolbar-device-selector-border: --toolbar-device-selector-border;
$toolbar-device-selector-background-hover: --toolbar-device-selector-background-hover;
$toolbar-device-selector-unselected-label: --toolbar-device-selector-unselected-label;
$toolbar-device-selector-unselected-background-hover: --toolbar-device-selector-unselected-background-hover;
$toolbar-device-selector-unselected-border: --toolbar-device-selector-unselected-border;
$toolbar-button-primary-background-disabled: --toolbar-button-primary-background-disabled;
$toolbar-button-primary-background: --toolbar-button-primary-background;
$toolbar-button-primary-label: --toolbar-button-primary-label;
$toolbar-button-primary-background-hover: --toolbar-button-primary-background-hover;
$toolbar-button-secondary-label-disabled: --toolbar-button-secondary-label-disabled;
$toolbar-button-secondary-background-hover: --toolbar-button-secondary-background-hover;
$toolbar-button-secondary-label: --toolbar-button-secondary-label;
$header-background: --header-background;
$header-logo: --header-logo;
$header-divider: --header-divider;
$header-title-label: --header-title-label;
$header-drawer-button-label: --header-drawer-button-label;
$header-drawer-button-background-hover: --header-drawer-button-background-hover;
$filetype-ino: --filetype-ino;
$filetype-h: --filetype-h;
$filetype-generic: --filetype-generic;
$toggle-background-unchecked: --toggle-background-unchecked;
$toggle-background-checked: --toggle-background-checked;
$toggle-foreground: --toggle-foreground;
$texts-icons-links: --texts-icons-links;
$texts-icons-titles: --texts-icons-titles;
$texts-icons-default: --texts-icons-default;
$texts-icons-secondary: --texts-icons-secondary;
$counter-button-background: --counter-button-background;
$counter-button-background-hover: --counter-button-background-hover;
$counter-button-foreground-hover: --counter-button-foreground-hover;
$counter-button-foreground: --counter-button-foreground;
$icon-button-destructive-border-active: --icon-button-destructive-border-active;
$icon-button-destructive-background-hover: --icon-button-destructive-background-hover;
$icon-button-destructive-label: --icon-button-destructive-label;
$icon-button-destructive-background: --icon-button-destructive-background;
$icon-button-tertiary-background-active: --icon-button-tertiary-background-active;
$icon-button-tertiary-border-active: --icon-button-tertiary-border-active;
$icon-button-tertiary-label-active: --icon-button-tertiary-label-active;
$icon-button-tertiary-background-hover: --icon-button-tertiary-background-hover;
$icon-button-tertiary-label: --icon-button-tertiary-label;
$icon-button-secondary-border-active: --icon-button-secondary-border-active;
$icon-button-secondary-label: --icon-button-secondary-label;
$icon-button-secondary-background-hover: --icon-button-secondary-background-hover;
$icon-button-secondary-background: --icon-button-secondary-background;
$icon-button-primary-border-active: --icon-button-primary-border-active;
$icon-button-primary-background-hover: --icon-button-primary-background-hover;
$icon-button-primary-label: --icon-button-primary-label;
$icon-button-primary-background: --icon-button-primary-background;
$button-destructive-border-active: --button-destructive-border-active;
$button-destructive-background-hover: --button-destructive-background-hover;
$button-destructive-label: --button-destructive-label;
$button-destructive-background: --button-destructive-background;
$button-tertiary-label-active: --button-tertiary-label-active;
$button-tertiary-border-active: --button-tertiary-border-active;
$button-tertiary-label-hover: --button-tertiary-label-hover;
$button-tertiary-label: --button-tertiary-label;
$button-secondary-outline-active: --button-secondary-outline-active;
$button-secondary-background-hover: --button-secondary-background-hover;
$button-secondary-label: --button-secondary-label;
$button-secondary-border: --button-secondary-border;
$button-primary-border-active: --button-primary-border-active;
$button-primary-background-hover: --button-primary-background-hover;
$button-primary-label: --button-primary-label;
$button-primary-background: --button-primary-background;
