.container {
    width: 100%;
    height: 100%;
    isolation: isolate;
}

.container-with-header {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;

    .content {
        position: absolute;
        top: 60px;
        height: calc(100vh - 60px);
    }
}

.content {
    height: 100%;
    width: 100%;
}
