.learn-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
	padding-bottom: 24px;
  //TODO: This default font color can be moved to a global variable
  //TODO: Set the color variable
  color: var(--text-subtle, #c9d2d2);
}

.learn-resource-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: calc(430px * 2)) {
  .learn-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: calc(430px * 3)) {
  .learn-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: calc(430px * 4)) {
  .learn-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: calc(430px * 5)) {
  .learn-list {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
