.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 16px;
  min-height: 0;

  .split {
    flex: 1;
    display: flex;
    min-height: 0;
    overflow: hidden;
  }

  .split-item {
    height: 100%;

    &-left {
      width: calc(30% + 8px) !important;
    }

    &-right {
      margin-left: 8px;
      width: calc(70% - 8px) !important;

      & > div {
        border-radius: 16px;
        padding: 16px;
      }
    }
  }
}
