@forward "./functions.scss";
@forward "../themes/exported-variables";
@forward "./z-indexes.scss";

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
